{% load static %}
<!DOCTYPE html>
<head lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="text/css" href="{% static 'images/logo.png' %}">
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'jquery/sample.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% include 'Navbar.html' %}
    {% block content %}
    {% endblock %}
</body>
</head>
